.conteudo {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.github-background {
    height: 80vh;
    position: absolute;
    left: 0;
    z-index: 0;
}

.info {
    color: white;
    font-family: 'Roboto', 'Arial';
    z-index: 1;
}

@media screen and (max-width: 686px) {
    .github-background {
        height: 20vh;
    }

    .search {
        justify-content: center;
    }

    .info {
        width: auto;
        margin-top: 40px;
    }

    hr {
        margin: 0 20px;
    }
}

@media screen and (min-width: 686px) {
    .info {
        width: 60%;
        margin-right: 90px;
        margin-top: 40px;
    }
}

.search {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

hr {
    background-color: #999999;
    border: 1px solid #999999;
}
